{% extends 'base.html.twig' %}

{% block title %}Pressure index{% endblock %}

{% block body %}
    <h1>Pressure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Systolic</th>
                <th>Diastolic</th>
                <th>Pulse</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pressure in pressures %}
            <tr>
                <td>{{ pressure.id }}</td>
                <td>{{ pressure.Systolic }}</td>
                <td>{{ pressure.Diastolic }}</td>
                <td>{{ pressure.Pulse }}</td>
                <td>{{ pressure.date ? pressure.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_pressure_show', {'id': pressure.id}) }}">show</a>
                    <a href="{{ path('app_pressure_edit', {'id': pressure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pressure_new') }}">Create new</a>
{% endblock %}
